
<div class="panel panel-green"> 
	<div class="panel-heading"> 					   
		  <div class="container">
		    <div class="row">
		        <div class="col-xs-6">
		            <h1 translate="controlesApp.cliente.home.title">Clientes</h1>
		        </div>
		        <div class="col-xs-6">
		            <i class="fa fa-user fa-5x"/>
		        </div>
		    </div>
		</div>
	</div> 	 
</div>

<div>		    
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success"  ui-sref="cliente.new">
                    <span class="fa fa-plus fa-5x"></span> <span translate="controlesApp.cliente.home.createLabel">Create a new Produto</span>
                </button>
                <button class="btn btn-primary"  ng-click="back()">
                    <span class="fa fa-chevron-left fa-5x"></span> <span >Voltar</span>
                </button>                
            </div>            	
            <div class="col-md-4">
            	
            </div>
            <div class="col-md-4" style="height:84px">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" >
                        <button class="btn btn-info" ng-click="search()">
                    		<span class="glyphicon glyphicon-search"> Procurar Clientes</span>                     		
                    	</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<br>

    <div class="modal fade" id="deleteClienteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(cliente.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="controlesApp.cliente.delete.question" translate-values="{id: '{{cliente.id}}'}">Are you sure you want to delete this Cliente?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="controlesApp.cliente.nome">Nome</th>
                    <th translate="controlesApp.cliente.tipoTelefone">TipoTelefone</th>
                    <th translate="controlesApp.cliente.telefone">Telefone</th>                    
                    <th translate="controlesApp.cliente.email">Email</th>
                    <th translate="controlesApp.cliente.endereco">Endereco</th>
                    <th translate="controlesApp.cliente.estado">Estado</th>
                    <th translate="controlesApp.cliente.cidade">Cidade</th>
                    <th translate="controlesApp.cliente.nomeContato">NomeContato</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="cliente in clientes track by cliente.id">
                    <td><a ui-sref="cliente.detail({id:cliente.id})">{{cliente.id}}</a></td>
                    <td>{{cliente.nome}}</td>
                    <td translate="{{'controlesApp.TipoTelefone.' + cliente.tipoTelefone}}">{{cliente.tipoTelefone}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td translate="{{'controlesApp.Estado.' + cliente.estado}}">{{cliente.estado}}</td>
                    <td>{{cliente.cidade}}</td>
                    <td>{{cliente.nomeContato}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="cliente.detail({id:cliente.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="cliente.edit({id:cliente.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(cliente.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
