
<form name="editForm" role="form" novalidate ng-submit="save()" class="ng-pristine">
	<a id="top"></a> 
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel" translate="controlesApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
    </div>
    <div class="modal-body" >
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-show="pedido.id">
            <label for="id" translate="global.field.id">ID</label>
            {{pedido.id}}
        </div>
        <div class="form-group">        	
            <label translate="controlesApp.pedido.cliente_pedido" for="field_cliente_pedido">cliente_pedido</label>
            <select class="form-control" id="field_cliente_pedido" name="pedidoCliente" ng-change="buscarPrecosExclusivos(pedido.cliente_pedido.id)" name="cliente_pedido" ng-model="pedido.cliente_pedido" ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id" required>
                <option value="">Selecione um Cliente</option>
            </select>             
            <div ng-show="editForm.pedidoCliente.$invalid">
      			<span ng-show="editForm.pedidoCliente.$error.required">Cliente é obrigatorio !</span>
      		</div>	           
        </div>
        <div class="form-group" >
            <label translate="controlesApp.pedido.dtPrevistaSeparacao" for="field_dtPrevistaSeparacao">DtPrevistaSeparacao</label>
            <input type="date" class="form-control" name="dtPrevistaSeparacao" id="field_dtPrevistaSeparacao"
                    ng-model="pedido.dtPrevistaSeparacao" />
                    {{pedido.dtPrevistaSeparacao | date:'longDate'}}
                    
                    
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dtRealSeparacao" for="field_dtRealSeparacao">DtRealSeparacao</label>
            <input type="date" class="form-control"  name="dtRealSeparacao" id="field_dtRealSeparacao"
                    ng-model="pedido.dtRealSeparacao"
                     />
            {{pedido.dtRealSeparacao | date:'longDate'}}
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.dtPrevistaEntrega" for="field_dtPrevistaEntrega">DtPrevistaEntrega</label>
            <input type="date" class="form-control" name="dtPrevistaEntrega" id="field_dtPrevistaEntrega"
                    ng-model="pedido.dtPrevistaEntrega"
                     />{{pedido.dtPrevistaEntrega | date:'longDate'}}
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dtRealEntrega" for="field_dtRealEntrega">DtRealEntrega</label>
            <input type="date" class="form-control" name="dtRealEntrega" id="field_dtRealEntrega"
                    ng-model="pedido.dtRealEntrega"
                     />{{pedido.dtRealEntrega | date:'longDate'}}
        </div>

        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dataPedido" for="field_dataPedido">DataPedido</label>
            <input type="date" class="form-control" name="dataPedido" id="field_dataPedido"
                    ng-model="pedido.dataPedido"
                     />
                     {{pedido.dataPedido | date:'longDate'}}
        </div>
        <br>
        
        <div class="panel panel-default" ng-if="pedido.cliente_pedido">
        <div class="panel-heading"><label>Produtos</label></div>
	        <div class="panel-body" >
<!-- 		        <pre> -->
		        <div style="overflow: auto;white-space: nowrap; " align="center">	    
				<div ng-repeat="categoria in categorias track by $index" class="col-lg-4">
					<button ng-class="isActive[$index] ? 'btn btn-lg btn-warning' : 'btn btn-lg btn-info'""  name="filter_categoria" type="button" ng-click="filtrarCategoria(categoria, $index)">
	              		<span class="fa fa-filter"></span> <span>{{categoria}}</span>
	        		</button>        			
				</div>				
				</div>
				<br>
		        <div align="center">
		  		<input type="text" class="form-control" placeholder="Pesquisar Produtos" ng-model="searchKeyword" >
<!-- 		  		<button class="btn btn-danger" type="button" ng-click="searchKeyword = null" style="width: 100%"> -->
<!-- 		              <span class="fa fa-times-circle"></span> <span>Apagar Pesquisa</span> -->
<!-- 		        </button> -->
	        	</div>        	        
<!-- 			</pre>     -->
			
	        <table class="table table-responsive">
	            <thead >
	                <tr>
	                	<th>Selecionar</th>
	                    <th>Produto</th>
	                    <th>Categoria</th>
<!-- 	                    <th>Unidade de Medida</th> -->
	                    <th>Quantidade</th>                    
	                    <th>Valor</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody >
	                <tr ng-repeat="produto in produtos | filter: searchKeyword | filter: category | orderBy:'nome'" ng-class="{'selected':selection.indexOf(produto.id) != -1}" >
	                	<td><button type="button" ng-click="toggle(produto.id, produto);"  class="btn btn-danger btn-circle"><i class="fa fa-check" ng-if="selection.indexOf(produto.id) != -1"></i> </button></td>
	                    <td>{{produto.nome}}</td>
	                        <td>{{produto.categoriaProduto.nome}}</td>
<!-- 	                        <td>{{produto.unidadeMedida}}</td> -->
	                        <td>
	                        <div class="form-group">
	                        	<input ng-show="selection.indexOf(produto.id) != -1"  min="0" type="number" focus-on-show  size="3" name="qnt_{{produto.id}}"  ng-model="produto.quantidade" ng-blur="setQuantidade(produto)"  ng-keyup="calculaTotal(produtos)" >
	<!--                         	<button type="button" class="btn btn-success" ng-if="selection.indexOf(produto.id) != -1" ng-click="somar(produto);calculaTotal(produtos)"><i class="fa glyphicon-plus" ></i></button>                        	 -->
	<!--                         	<button type="button" class="btn btn-danger" ng-if="selection.indexOf(produto.id) != -1" ng-click="subtrair(produto);calculaTotal(produtos)"><i class="fa glyphicon-minus" ></i></button> -->
	                        	</div>                        	
	                        </td>
	                        <td>{{produto.precoVenda  |  currency}}</td>                                            	
	                    	<td></td>
	                </tr>
	            </tbody>
	        </table>        
	        </div>  
	    		
	        <div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
	        	<label>SubTotal Pedido: </label>
	        	<label>{{pedido.total |  currency}}</label>
	        </div>	
	        <div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
	        	<label>Desconto: </label>
	        	<input  type="number" size="3" style="width: 70px" ng-model="pedido.desconto" has-authority="ROLE_ADMIN" ng-change="calcularDesconto(pedido);">	        	
	        </div>	
	        <div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
	        	<label>Valor Total Pedido: </label>
	        	<label>{{pedido.totalDesconto |  currency}}</label>
	        </div>
	    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary" ng-click="saveParam(0)">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-success" ng-click="saveParam(1)" ng-if="pedido.statusPedido == 'EmProcessoPedido' || pedido.id == null">
            <span class="fa fa-arrow-circle-right"></span>&nbsp;<span translate="controlesApp.pedido.separacao_pedido">Separacao</span>
        </button>       
    </div>
    
    <div class="modal fade" id="pedidoSemProduto">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="fecharAlerta()">&times;</button>
                        <h4 class="modal-title" >Alerta</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deve existir no minimo um produto selecionado !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="fecharAlerta()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Fechar</span>
                        </button>                        
                    </div>
            </div>
        </div>
    </div>
        
</form>

