dssdsd
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel" translate="controlesApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-show="pedido.id">
            <label for="id" translate="global.field.id">ID</label>
            {{pedido.id}}
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.cliente_pedido" for="field_cliente_pedido">cliente_pedido</label>
            <select class="form-control" id="field_cliente_pedido" name="cliente_pedido" ng-model="pedido.cliente_pedido" ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id">
                <option value="">Selecione um Cliente</option>
            </select>
        </div>
<!--         <div class="form-group"> -->
<!--             <label translate="controlesApp.pedido.dtPrevistaSeparacao" for="field_dtPrevistaSeparacao">DtPrevistaSeparacao</label> -->
<!--             <input type="date" class="form-control" name="dtPrevistaSeparacao" id="field_dtPrevistaSeparacao" -->
<!--                     ng-model="pedido.dtPrevistaSeparacao" pattern="dd/MM/YYYY" /> -->
<!--                     {{pedido.dtPrevistaSeparacao | date:'longDate'}} -->
                    
                    
<!--         </div> -->
<!--         <div class="form-group" ng-show="pedido.id != null"> -->
<!--             <label translate="controlesApp.pedido.dtRealSeparacao" for="field_dtRealSeparacao">DtRealSeparacao</label> -->
<!--             <input type="date" class="form-control"  name="dtRealSeparacao" id="field_dtRealSeparacao" -->
<!--                     ng-model="pedido.dtRealSeparacao" -->
<!--                      /> -->
<!--             {{pedido.dtRealSeparacao | date:'longDate'}} -->
<!--         </div> -->
<!--         <div class="form-group"> -->
<!--             <label translate="controlesApp.pedido.dtPrevistaEntrega" for="field_dtPrevistaEntrega">DtPrevistaEntrega</label> -->
<!--             <input type="date" class="form-control" name="dtPrevistaEntrega" id="field_dtPrevistaEntrega" -->
<!--                     ng-model="pedido.dtPrevistaEntrega" -->
<!--                      />{{pedido.dtPrevistaEntrega | date:'longDate'}} -->
<!--         </div> -->
<!--         <div class="form-group" ng-show="pedido.id != null"> -->
<!--             <label translate="controlesApp.pedido.dtRealEntrega" for="field_dtRealEntrega">DtRealEntrega</label> -->
<!--             <input type="date" class="form-control" name="dtRealEntrega" id="field_dtRealEntrega" -->
<!--                     ng-model="pedido.dtRealEntrega" -->
<!--                      />{{pedido.dtRealEntrega | date:'longDate'}} -->
<!--         </div> -->
        <div class="form-group">
        	<label translate="controlesApp.pedido.pedido_modelo" ></label>
            <select class="form-control" id="field_pedido_modelo" name="pedido_modelo" ng-model="pedido.pedidoModelo" 
            ng-selected="0" ng-options="item.id as item.name for item in listaOpcoes" ></select>
        </form>

 
        <div class="form-group">
            <label translate="controlesApp.pedido.periodoPedidoInicio" for="field_periodoPedidoInicio">PeriodoPedidoInicio</label>
            <input type="date" class="form-control" name="periodoPedidoInicio" id="field_periodoPedidoInicio"
                    ng-model="pedido.periodoPedidoInicio"
                     />{{pedido.periodoPedidoInicio | date:'longDate'}}
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.periodoPedidoFim" for="field_periodoPedidoFim">PeriodoPedidoFim</label>
            <input type="date" class="form-control" name="periodoPedidoFim" id="field_periodoPedidoFim"
                    ng-model="pedido.periodoPedidoFim"
                     />{{pedido.periodoPedidoFim | date:'longDate'}}
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dataPedido" for="field_dataPedido">DataPedido</label>
            <input type="date" class="form-control" name="dataPedido" id="field_dataPedido"
                    ng-model="pedido.dataPedido"
                     />
                     {{pedido.dataPedido}}
        </div>
        <br>
        <div class="form-group">
        	<label translate="controlesApp.pedido.produto_has_pedido" for="field_produto_has_pedido">produto_has_pedido</label> 
	        <ul>
	            <li ng-repeat="produto in produtos" ng-class="{'selected':selection.indexOf($index) != -1}">
	            <a href="" ng-click="toggle($index, produto)">
	                	<label>{{produto.nome}}</label></a>
	                	<label ng-if="selection.indexOf($index) != -1"> - Quantidade: </label>
	                	<input type="number" ng-if="selection.indexOf($index) != -1" size="3" ng-model="quantidade" ng-blur="setQuantidade($index, quantidade, produto)">	                	
	                 
	            </li>
	        </ul>
        </div>        

    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-success">
            <span class="fa fa-arrow-circle-right"></span>&nbsp;<span translate="controlesApp.pedido.separacao_pedido">Save</span>
        </button>
    </div>
</form>
