<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel" translate="controlesApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-show="pedido.id">
            <label for="id" translate="global.field.id">ID</label>
            {{pedido.id}}
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.cliente_pedido" for="field_cliente_pedido">cliente_pedido</label>
            <select class="form-control" id="field_cliente_pedido" name="cliente_pedido" ng-model="pedido.cliente_pedido" ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id" required>
                <option value="">Selecione um Cliente</option>
            </select>
            <p class="help-block"
                ng-show="editForm.cliente_pedido.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>

 
        <div class="form-group">
            <label translate="controlesApp.pedido.periodoPedidoInicio" for="field_periodoPedidoInicio">PeriodoPedidoInicio</label>
            <input type="date" class="form-control" name="periodoPedidoInicio" id="field_periodoPedidoInicio"
                    ng-model="pedido.periodoPedidoInicio" required
                     />{{pedido.periodoPedidoInicio | date:'longDate'}}
             <p class="help-block"
                ng-show="editForm.periodoPedidoInicio.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.periodoPedidoFim" for="field_periodoPedidoFim">PeriodoPedidoFim</label>
            <input type="date" class="form-control" name="periodoPedidoFim" id="field_periodoPedidoFim"
                    ng-model="pedido.periodoPedidoFim" required
                     />{{pedido.periodoPedidoFim | date:'longDate'}}
            <p class="help-block"
                ng-show="editForm.periodoPedidoFim.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dataPedido" for="field_dataPedido">DataPedido</label>
            <input type="date" class="form-control" name="dataPedido" id="field_dataPedido"
                    ng-model="pedido.dataPedido"
                     />
                     {{pedido.dataPedido | date:'longDate'}}
        </div>
		<div class="form-group" >		
<!-- 				<label ng-repeat="dia in diasSemanas" class="checkbox" for="{{dia.id}}" class="form-control"> -->
<!-- 					<input type="checkbox"  name="group" id="{{dia}}"  -->
<!-- 					ng-model="pedido.diasSemana" class="form-control"  -->
					
<!-- 					/>  -->
<!-- 					{{dia.dia}} -->
<!-- 				</label>  -->
		         <select class="form-control" multiple ng-multiple="true" name="diaSemana" ng-model="pedido.diasSemana" ng-options="diaSemana.dia for diaSemana in diasSemanas track by diaSemana.id" ></select>
		         
            <p class="help-block">
                Segure o CNTRL do teclado para selecionar mais de 1 dia
            </p>                	            
		</div>
		
		<br>
		<div class="form-group">
        	<label translate="controlesApp.pedido.produto_has_pedido" for="field_produto_has_pedido">produto_has_pedido</label> 
	        <ul>
	            <li ng-repeat="produto in produtos" ng-class="{'selected':selection.indexOf($index) != -1}">
	            		
	            		<button type="button" ng-click="toggle($index, produto)"  class="btn btn-danger btn-circle"><i class="fa fa-check" ng-if="selection.indexOf($index) != -1"></i> </button>	            		
	                		<label>{{produto.nome}}</label>
	                	
	                	<label ng-if="selection.indexOf($index) != -1"> - Quantidade: </label>
	                	<input ng-if="selection.indexOf($index) != -1" type="number"  size="3" ng-model="produto.quantidade" ng-blur="setQuantidade($index, produto)"  ng-keyup="calculaTotal(produtos)" >	                		                 
	            </li>
	        </ul>
        </div>
        <div class="form-group" ng-if="pedido.total != 0">
        	<label>Valor Total: </label>
        	<label>{{pedido.total |  currency}}</label>
        	<button type="button" has-authority="ROLE_ADMIN"
                                 ng-click="ShowHide()"
                                class="btn btn-primary btn-sm">
        	<span class="glyphicon glyphicon-pencil" ></span>
        	</button>
        	<input  type="number" size="3" ng-model="pedido.total" ng-if="IsHidden">
        	
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-if="pedido.id != null" ng-disabled="true" class="btn btn-primary" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Gerar Pedido Agora</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
