<div >
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel">Equalizar Pedidos</h4>
</div>    
	
	<div class="modal-body">	
	<label>Produtos utilizados:</label>
	<div class="row">	    
		<div ng-repeat="produ in separados" class="col-md-1" style="height: 70px" ng-class-odd="'alert alert-success'" ng-class-even="'alert alert-info'" role="alert">
			{{produ.nome}}:{{produ.estoque}}			
		</div>	
	</div>	
	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="estoqueMenor">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Atenção!</strong> O produto {{produtoEstoqueMenor.nome}} esta com o estoque negativo.
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="quantidadeNegativa">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Atenção!</strong> O sistema não permite valores de quantidade negativos
	</div>
			 
	<div class="row">
	
		<div ng-repeat="pedido in pedidos" class="col-xs-3" ng-class-odd="'alert alert-success'" ng-class-even="'alert alert-warning'">
		
			<form name="editForm" role="form" novalidate ng-submit="save(pedido)">   
			        <jh-alert-error></jh-alert-error>
			        <div class="form-group" ng-show="pedido.id">
			            <h1><label for="id" translate="global.field.id">ID</label>
			            {{pedido.id}}</h1>
			        </div>
			        <div class="form-group">
			            <label translate="controlesApp.pedido.cliente_pedido" for="field_cliente_pedido">cliente_pedido</label>
			            {{pedido.cliente_pedido.nome}}
			        </div>
			        <div class="form-group" ng-show="pedido.id != null">
			            <label translate="controlesApp.pedido.dataPedido" for="field_dataPedido">DataPedido</label>            
			                     {{pedido.dataPedido | date:'shortDate'}}
			        </div>
			        <div class="form-group">
			            <label translate="controlesApp.pedido.dtPrevistaSeparacao" for="field_dtPrevistaSeparacao">DtPrevistaSeparacao</label>            
			            {{pedido.dtPrevistaSeparacao | date:'shortDate'}}
			        </div>
			        <div class="form-group">
			            <label translate="controlesApp.pedido.dtPrevistaEntrega" for="field_dtPrevistaEntrega">DtPrevistaEntrega</label>
			            {{pedido.dtPrevistaEntrega | date:'shortDate'}}
			        </div>
			        
			        
			        <br>
			        
		<div class="form-group div scroll" >        
           <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Qnt</th>
                    <th>Nova Qnt</th>                                                                 
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="produtoPedidos in pedido.produtosPedidos" ng-class="{'selected':selection.indexOf($index) != -1}">                	
                    <td>{{produtoPedidos.produto.nome}}</td>
<!--                         <td>{{produtoPedidos.produto.unidadeMedida}}</td> -->
						<td>{{produtoPedidos.quantidade}}</td>
                        <td>
                        <div class="form-group">                        	
                        	<input ng-if="produtoPedidos.produto.nome"  type="number" style="width: 50px;" size="3"  ng-model="produtoPedidos.quantidadeNew" ng-change="calculaTotal(produtoPedidos, pedido);" ng-blur="controlaEstoque(produtoPedidos);" >
                        </div>                        	
                        </td>                                                                    
                    	<td></td>
                </tr>
            </tbody>
        </table>        
        </div>  
		
		<div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
        	<label>SubTotal Pedido: </label>
        	<label>{{pedido.total |  currency}}</label>
        </div>	
        <div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
        	<label>Desconto: </label>
        	<input type="number" size="3" style="width: 70px" ng-model="pedido.desconto" has-authority="ROLE_ADMIN" ng-change="calcularDesconto(pedido);">        	
        </div>	
        <div class="form-group" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN" align="right">
        	<label>Valor Total Pedido: </label>
        	<label>{{pedido.totalDesconto |  currency}}</label>
        </div>
			        
			        <div class="modal-footer">			        
				        <div class="row">
				        	<div class="col-lg-4">
		                        <button type="button"
		                                ng-click = "showProdutos()"
		                                class="btn btn-primary btn-sm">
		                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>Adicionar Produto</span>
		                        </button>
		        			</div>
		        			<div class="col-lg-6">
					        	<button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-success" ng-click="saveParam(1, pedido)">
			            			<span class="fa fa-arrow-circle-right"></span>&nbsp;<span translate="controlesApp.pedido.separacao_pedido">Separacao</span>
			        			</button>
			        		</div>
						</div>	        			
			    	</div>    
			</form>
		</div>
	</div>	
</div>
</div>


    <div class="modal fade" id="showProdutos">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pedido.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="controlesApp.pedido.delete.question" translate-values="{id: '{{pedido.id}}'}">Are you sure you want to delete this Pedido?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearProdutos()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>