
<form name="editForm" role="form" novalidate ng-submit="save()" class="ng-pristine">
	<a id="top"></a> 
    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel" translate="controlesApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
    </div>
    <div class="modal-body" >
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-show="pedido.id">
            <label for="id" translate="global.field.id">ID</label>
            {{pedido.id}}
        </div>
        <div class="form-group">        	
            <label translate="controlesApp.pedido.cliente_pedido" for="field_cliente_pedido">cliente_pedido</label>
            <div class="row">
            	<div class="col-lg-11">
		            <select class="form-control" id="field_cliente_pedido" name="pedidoCliente" ng-change="buscarPrecosExclusivos(pedido.cliente_pedido.id);" name="cliente_pedido" ng-model="pedido.cliente_pedido" ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id" required>
		                <option value="">Selecione um Cliente</option>
		            </select>   
	            </div>
	            <div class="col-lg-1">
		            <button class="btn btn-success"  ui-sref="pedido.newcliente">
		                    <span class="fa fa-plus fa-1x"></span> 
		            </button>        
	            </div>
            </div>  
            <div ng-show="editForm.pedidoCliente.$invalid">
      			<span ng-show="editForm.pedidoCliente.$error.required">Cliente é obrigatorio !</span>
      		</div>	           
        </div>
        <div class="form-group" >
            <label translate="controlesApp.pedido.dtPrevistaSeparacao" for="field_dtPrevistaSeparacao">DtPrevistaSeparacao</label>
            <input type="date" class="form-control" name="dtPrevistaSeparacao" id="field_dtPrevistaSeparacao"
                    ng-model="pedido.dtPrevistaSeparacao" />
                    {{pedido.dtPrevistaSeparacao | date:'longDate'}}
                    
                    
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dtRealSeparacao" for="field_dtRealSeparacao">DtRealSeparacao</label>
            <input type="date" class="form-control"  name="dtRealSeparacao" id="field_dtRealSeparacao"
                    ng-model="pedido.dtRealSeparacao"
                     />
            {{pedido.dtRealSeparacao | date:'longDate'}}
        </div>
        <div class="form-group">
            <label translate="controlesApp.pedido.dtPrevistaEntrega" for="field_dtPrevistaEntrega">DtPrevistaEntrega</label>
            <input type="date" class="form-control" name="dtPrevistaEntrega" id="field_dtPrevistaEntrega"
                    ng-model="pedido.dtPrevistaEntrega"
                     />{{pedido.dtPrevistaEntrega | date:'longDate'}}
        </div>
        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dtRealEntrega" for="field_dtRealEntrega">DtRealEntrega</label>
            <input type="date" class="form-control" name="dtRealEntrega" id="field_dtRealEntrega"
                    ng-model="pedido.dtRealEntrega"
                     />{{pedido.dtRealEntrega | date:'longDate'}}
        </div>

        <div class="form-group" ng-show="pedido.id != null">
            <label translate="controlesApp.pedido.dataPedido" for="field_dataPedido">DataPedido</label>
            <input type="date" class="form-control" name="dataPedido" id="field_dataPedido"
                    ng-model="pedido.dataPedido"
                     />
                     {{pedido.dataPedido | date:'longDate'}}
        </div>
        

<div class="panel-group" id="accordion" ng-if="pedido.cliente_pedido">
  <shortcut></shortcut>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  		Selecionar Produtos
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      
				<div style="overflow: auto;white-space: nowrap; " align="center">	    
					<div ng-repeat="categoria in categorias track by $index" class="col-lg-4">
						<button ng-class="isActive[$index] ? 'btn btn-lg btn-warning' : 'btn btn-lg btn-info'""  name="filter_categoria" type="button" ng-click="filtrarCategoria(categoria, $index)">
		              		<span class="fa fa-filter fa-1x"></span> {{categoria}}
		        		</button>        			
					</div>
				
				</div>
					<br>
		        <div align="center">
					<input type="text" id="pesquisa" class="form-control" focus-me="focusSearch" placeholder="Pesquisar Produtos" ng-model="searchKeyword" >
					<span><b>Dica:</b> Clique a tecla A quando estiver no campo quantidade para retornar a pesquisa! </span> 
	        	</div>     
	        	
	        					        	   	        
	        <table class="table table-responsive">
	            <thead >
	                <tr>
	                	<th>Selecionar</th>
	                    <th>Produto</th>
	                    <th>Categoria</th>
	                    <th>Quantidade</th>                    
	                    <th>Valor</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody >
	                <tr ng-repeat="produto in produtos | filter: searchKeyword | filter: category | orderBy:'nome'" ng-class="{'selected':selection.indexOf(produto.id) != -1}" >
	                	<td>
	                		<button type="button" ng-click="toggle(produto.id, produto);"  
	                		class="btn btn-danger btn-circle"><i class="fa fa-check" ng-if="selection.indexOf(produto.id) != -1"></i> </button></td>
	                    <td>{{produto.nome}}</td>
	                        <td>{{produto.categoriaProduto.nome}}</td>
	                        <td>
	                        <div class="form-group">	                        	           
	                        	<input ng-if="selection.indexOf(produto.id) != -1" class="form-control"  min="0"  type="number"  size="3"  
	                        	name="qnt_{{produto.id}}" id="qnt_{{produto.id}}"  ng-model="produto.quantidade" 
	                        	ng-blur="setQuantidade(produto)"  ng-keyup="calculaTotal(produtos)" focus-me="focusInput">
	                        </div>                        	
	                        </td>
	                        <td>{{produto.precoVenda  |  currency}}</td>                                            	
	                    	<td></td>
	                </tr>
	            </tbody>
	        </table>        


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Ver Pedido
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        	<table class="table table-striped">
	            <thead >
	                <tr>
	                    <th>Produto</th>
	                    <th>Categoria</th>
<!-- 	                    <th>Unidade de Medida</th> -->
	                    <th>Quantidade</th>                    
	                    <th>Valor</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody >
	                <tr ng-repeat="produtoPedido in produtosSelecionadosPedidos"  >
	                    <td>{{produtoPedido.produto.nome}}</td>
	                        <td>{{produtoPedido.produto.categoriaProduto.nome}}</td>
	                        <td>
	                        <div class="form-group">
								{{produtoPedido.produto.quantidade}}
	                        </div>                        	
	                        </td>
	                        <td>{{produtoPedido.produto.precoVenda  |  currency}}</td>                                            	
	                    	<td></td>
	                </tr>
	            </tbody>
	        </table>        
	        <br>	
	        <div class="row">
		        <div class="col-md-3 pull-right" style="font-size: 14px" ng-if="pedido.total != 0" has-authority="ROLE_ADMIN">
		        	<label>SubTotal Pedido: </label><br>		        	
		        	<label>{{pedido.total |  currency}}</label>
					<br>		        	
	                 <label>Desconto:</label>       
	                 <input type="text" class="form-control" style="width: 70px"  ng-model="pedido.desconto" has-authority="ROLE_ADMIN" ng-change="calcularDesconto(pedido);"> 
	                                                      

		        	<label>Valor Total Pedido: </label><br>		        	
		        	<label>{{pedido.totalDesconto |  currency}}</label>
		        </div>
			</div>
      </div>
    </div>
  </div>
  
</div>	    	   	    	    
	    
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary" ng-click="saveParam(0)">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-success" ng-click="saveParam(1)" ng-if="pedido.statusPedido == 'EmProcessoPedido' || pedido.id == null">
            <span class="fa fa-arrow-circle-right"></span>&nbsp;<span translate="controlesApp.pedido.separacao_pedido">Separacao</span>
        </button>       
    </div>
    
    <div class="modal fade" id="pedidoSemProduto">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="fecharAlerta()">&times;</button>
                        <h4 class="modal-title" >Alerta</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deve existir no minimo um produto selecionado !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="fecharAlerta()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Fechar</span>
                        </button>                        
                    </div>
            </div>
        </div>
    </div>
        
</form>

