<div>
    <h2 translate="controlesApp.pedTeste.home.title">PedTestes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="pedTeste.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="controlesApp.pedTeste.home.createLabel">Create a new PedTeste</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PedTeste</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePedTesteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pedTeste.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="controlesApp.pedTeste.delete.question" translate-values="{id: '{{pedTeste.id}}'}">Are you sure you want to delete this PedTeste?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="controlesApp.pedTeste.dtPrevistaEntrega">DtPrevistaEntrega</th>
                    <th translate="controlesApp.pedTeste.dtPrevistaEntregaZoned">DtPrevistaEntregaZoned</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="pedTeste in pedTestes track by pedTeste.id">
                    <td><a ui-sref="pedTeste.detail({id:pedTeste.id})">{{pedTeste.id}}</a></td>
                        <td>{{pedTeste.dtPrevistaEntrega | date:'mediumDate'}}</td>
                    <td>{{pedTeste.dtPrevistaEntregaZoned | date:'medium'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="pedTeste.detail({id:pedTeste.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="pedTeste.edit({id:pedTeste.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(pedTeste.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
